body
{
    background-image: url(https://images.unsplash.com/photo-1576919228236-a097c32a5cd4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

.main
{
height: 100vh;
text-align: center;
}

button
{
    background: none;
    border: 3px solid rgb(180, 36, 36);
    padding: 10px 30px;
    border-radius: 15px;
    color: rgb(180, 36, 36);
    font-size: 32px;
    margin: 15px
}

.text
{
    color: brown;
    font-size: 18px;
}

.timeArea
{
    font-size: 50px;
    color: rgb(180, 36, 36);
}

.rem
{
    font-size: 30px;   
}