.flex {
    display: flex;
}

.right {
    max-width: 50vw;
}

.left {
    padding-top: 150px;
    padding-left: 30px;
}

button {
    border: 1px grey solid;
    border-radius: 50px;
    padding: 20px;
    margin: 10px;
}

#color1 {
    background-color: pink;
}


#color2 {
    background-color: rgb(111, 107, 107);
}


#color3 {
    background-color: rgba(10, 15, 107, 0.765);
}